@font-face {
  font-family: GothamHTF;
  src: url(GothamHTF-Book.fae9356a.woff);
  font-weight: 400;
  font-style: normal
}

* {
  margin: 0;
  padding: 0;
  font-family: GothamHTF;
  font-size: 15px;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.corona-wrapper {
  max-width: 1280px;
  margin: 50px auto;
  width: 95%
}

.corona-wrapper h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px
}

.corona-wrapper .total-cases {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  -ms-flex-align: center;
  align-items: center;
  position: relative
}

.corona-wrapper .total-cases .latest-update {
  position: absolute;
  top: -50px;
  right: 0;
  color: red
}

.corona-wrapper .total-cases p {
  border-radius: 10px;
  padding: 25px;
  color: #fff;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  min-width: 11.5vw;
  position: relative;
  box-shadow: 0 0 5px 3px hsla(0, 0%, 85%, .5)
}

.corona-wrapper .total-cases p.confirmed {
  background-color: #ff8c00
}

.corona-wrapper .total-cases p.confirmed sub {
  color: #ff8c00
}

.corona-wrapper .total-cases p.active {
  background-color: #dc143c
}

.corona-wrapper .total-cases p.deceased {
  background-color: #a1a1a1
}

.corona-wrapper .total-cases p.deceased sub {
  color: #a1a1a1
}

.corona-wrapper .total-cases p.recovered {
  background-color: #28a745
}

.corona-wrapper .total-cases p span {
  display: block;
  font-size: 20px;
  margin-bottom: 10px
}

.corona-wrapper .total-cases p sub {
  background: #fff;
  color: #28a745;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: 700
}

.corona-wrapper .total-cases p sub:before {
  content: "";
  border-color: inherit;
  border-width: 0 2px 2px 0;
  border-style: solid;
  display: inline-block;
  padding: 2px;
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-right: 5px
}

.corona-wrapper .total-cases p+span {
  font-size: 25px;
  font-weight: bolder
}

.corona-wrapper .total-cases+.corona-item {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 1;
  box-shadow: 0 3px 4px 1px hsla(0, 0%, 85%, .5);
  border: 0!important
}

.corona-wrapper .corona-item {
  position: relative
}

.corona-wrapper .corona-item:nth-child(odd) .corona-cases-statewise {
  background-color: #f7f7f7
}

.corona-wrapper .corona-item:nth-child(odd) .corona-cases-citywise-list {
  background-color: #fff
}

.corona-wrapper .corona-item:nth-child(odd) .corona-cases-citywise-list .corona-cases-citywise {
  border-bottom: 3px solid #f7f7f7
}

.corona-wrapper .corona-item:nth-child(2n) {
  background-color: #fff
}

.corona-wrapper .corona-item:nth-child(2n) .corona-cases-citywise-list {
  background-color: #f7f7f7
}

.corona-wrapper .corona-item:nth-child(2n) .corona-cases-citywise-list .corona-cases-citywise {
  border-bottom: 3px solid #fff
}

.corona-wrapper .corona-item .corona-cases-citywise-list {
  display: none
}

.corona-wrapper .corona-item .corona-cases-citywise, .corona-wrapper .corona-item .corona-cases-statewise {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden
}

.corona-wrapper .corona-item .corona-cases-citywise *, .corona-wrapper .corona-item .corona-cases-statewise * {
  width: 25%;
  padding: 10px 0 10px 10px
}

.corona-wrapper .corona-item .corona-cases-citywise .show-citiwise-list, .corona-wrapper .corona-item .corona-cases-statewise .show-citiwise-list {
  cursor: pointer;
  position: absolute;
  width: 10px;
  left: -25px;
  top: 0
}

.corona-wrapper .corona-item .corona-cases-citywise .show-citiwise-list:before, .corona-wrapper .corona-item .corona-cases-statewise .show-citiwise-list:before {
  transition: all .3s ease;
  content: "";
  border-color: inherit;
  border-width: 0 2px 2px 0;
  border-style: solid;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-right: 5px
}

.corona-wrapper .corona-item.show-details .corona-cases-citywise-list {
  display: block;
  margin: 30px;
  padding: 10px;
  text-align: center
}

.corona-wrapper .corona-item.show-details .show-citiwise-list:before {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.corona-wrapper .corona-item .corona-cases-statewise .new-cases {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 25px 0 0;
  float: right
}

.corona-wrapper .corona-item .corona-cases-statewise .new-cases:before {
  content: "";
  border-color: inherit;
  border-width: 0 2px 2px 0;
  border-style: solid;
  display: inline-block;
  padding: 2px;
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-right: 5px
}

.corona-wrapper .corona-item .corona-cases-statewise .corona-cases-confirmed sub {
  color: #ff8c00
}

.corona-wrapper .corona-item .corona-cases-statewise .corona-cases-active sub {
  color: #dc143c
}

.corona-wrapper .corona-item .corona-cases-statewise .corona-cases-deceased sub {
  color: #a1a1a1
}

.corona-wrapper .corona-item .corona-cases-statewise .corona-cases-recovered sub {
  color: #28a745
}

footer {
  position: fixed;
  bottom: 0;
  background: green;
  padding: 15px 20px;
  left: 0;
  z-index: 1;
  right: 0
}

footer * {
  color: #fff
}

.author a {
  float: left;
  text-decoration: none
}

footer a {
  float: right
}

@media screen and (max-width:768px) {
  .corona-wrapper .corona-item {
    margin-left: 10px
  }
  .corona-wrapper .total-cases p {
    min-width: 190px;
    margin: 10px 0
  }
  .corona-wrapper .total-cases {
    -ms-flex-direction: column;
    flex-direction: column
  }
  .corona-wrapper .corona-item .corona-cases-citywise *, .corona-wrapper .corona-item .corona-cases-statewise * {
    padding: 2%;
    overflow: hidden;
    word-break: break-word
  }
  .corona-wrapper .corona-item.show-details .corona-cases-citywise-list {
    margin: 15px
  }
  .corona-wrapper .corona-item .corona-cases-statewise .new-cases {
    float: none;
    display: block;
    width: 100%
  }
  .corona-wrapper .total-cases .latest-update {
    top: -30px
  }
  footer {
    padding: 15px 5%;
    width: auto;
  }
}